<header class="navbar justify-content-between navbar-expand-lg navbar-light bg-light fixed-top">
  <nav>
    <!-- <span class="navbar-brand mb-0 h1">FS1020 Project - Product List</span> -->

    <ul class="navbar-nav">
      <li class="navbar-brand mb-0 h1">FS1020 Project - Product List</li>
      <li>
      <%-
        include('nav-item', {
          id: 'home',
          href: '/',
          text: 'Home',
        });
      %>
    </li>

    <li>
        <%-
          include('nav-item', {
            id: 'inventory',
            href: '/inventory',
            text: 'Inventory',
          });
        %>
      </li>
    </ul>
  </nav>

  <% if (username) { %>
    <div class="navbar-authenticated">
      <p class="navbar-greeting">
        Welcome,
        <span class="navbar-greeting-username"><%= username %></span>
      </p>

      <a class="btn btn-sm btn-warning" href="/logout">
        Logout
      </a>
    </div>
  <% } else { %>
    <nav>
      <ul class="navbar-nav bd-navbar-nab">
        <%-
          include('nav-item', {
            id: 'register',
            href: '/register',
            text: 'Register',
          });
        %>

        <%-
          include('nav-item', {
            id: 'login',
            href: '/login',
            text: 'Login',
          });
        %>
      </ul>
    </nav>
  <% } %>

</header>
  <br />
  <br />
  <br />
