<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= title %></title>

<link rel="stylesheet" href="./static/bootstrap.css">
<link rel="stylesheet" href="./static/custom.css">
