<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body class="p-3 mb-2 bg-dark text-white">
    <%- include('partials/header'); %>

    <main>
      <% if (!username) { %>
        <h1> Please Login to check Phone Inventory </h1>
      <% } else { %>
        <h1> Click Inventory to see list of Phones </h1>
      <% } %>

    </main>

    <%- include('partials/footer'); %>
  </body>
</html>
