<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body class="p-3 mb-2 bg-dark text-white">
    <%- include('partials/header'); %>

    <main>

      <section>
        <br />
        <br />
        <table class="table table-striped table-dark table-borderless table-hover">
          <thead>
            <tr class="col-len">
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Price (CAD)</th>
              <th scope="col">Brand</th>
              <th scope="col">Release Year</th>
              <th scope="col">Display Size (Inches)</th>
              <th scope="col">RAM (GB)</th>
              <th scope="col">Battery Size (mAh)</th>
              <th scope="col">Quantity (# of units)</th>
              <th scope="col">SmartPhone</th>
              <th scope="col">Available in Store</th>
            </tr>
          </thead>

          <tbody>
            <% product.forEach((phone) => { %>
              <tr>
                <th scope="row"><%= phone.id %></th>
                <td><%= phone.name %></td>
                <td><%= phone.price %></td>
                <td><%= phone.brand %></td>
                <td><%= phone.releaseYear %></td>
                <td><%= phone.displaySize %></td>
                <td><%= phone.ramGb %></td>
                <td><%= phone.batterySize %></td>
                <td><%= phone.quantity %></td>
                <td>
                    <img
                    src="/static/protected/<%= phone.smartphone %>"
                    alt=""
                    width="30"
                    height="30"
                    >
                </td>
                <td>
                    <img
                    src="/static/protected/<%= phone.available %>"
                    alt=""
                    width="30"
                    height="30"
                    >
                </td>
              </tr>
            <% }); %>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="11" style="text-align:right;">Total: <%= product.length %></td>
            </tr>
          </tfoot>
        </table>
      </section>


    </main>

    <%- include('partials/footer'); %>
  </body>
</html>
