<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body class="p-3 mb-2 bg-dark text-white">
    <section>
    <%- include('partials/header'); %>
    </section>

    <section>
    <form class="container" method="POST" action="/register">
      <h1>Register</h1>

      <div class="row">
        <div class="form-group col-12 col-md-6">
          <label for="username">Username</label>
          <input
            id="username"
            class="form-control"
            name="username"
            type="text"
            value="<%= formValues.username %>"
          />
          <% if (formErrors.username) { %>
            <small class="form-text text-muted">
              <%= formErrors.username %>
            </small>
          <% } %>
        </div>

        <div class="form-group col-12 col-md-6">
          <label for="password">Password</label>
          <input
            id="password"
            class="form-control"
            name="password"
            type="password"
            value="<%= formValues.password %>"
          />
          <% if (formErrors.password) { %>
            <small class="form-text text-muted">
              <%= formErrors.password %>
            </small>
          <% } %>
        </div>
      </div>

      <div class="row">
        <div class="form-controls col-12">
          <button class="btn btn-success" type="submit">Register</button>
        </div>
      </div>
    </form>
    </section>

    <%- include('partials/footer'); %>
  </body>
</html>
