html,

.http-error {
  background-color: #e9ecef;
}

.http-error pre {
  margin-top: 2rem;
}

.navbar-authenticated {
  display: flex;
  align-items: center;
}

.navbar-authenticated a {
  margin-left: 1rem;
}

.navbar-greeting {
  margin-bottom: 0;
  color: black;
}

.navbar-greeting-username {
  font-style: italic;
}

.head-margin {
  margin: 3rem;
}
